@font-face {
    font-family: 'CiscoSansBold';
    src: url('/site/fonts/cisco/websans/ciscosansbold-webfont.eot'); /* IE9 compat Mode */
    src: url('/site/fonts/cisco/websans/ciscosansbold-webfont.eot?#iefix') format('embedded-opentype'), /* Ie6-Ie8 */
         url('/site/fonts/cisco/websans/ciscosansbold-webfont.woff') format('woff'), /* Modern Browser */
         url('/site/fonts/cisco/websans/ciscosansbold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/site/fonts/cisco/websans/iscosansbold-webfont.svg#CiscoSansBold') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CiscoSansHeavy';
    src: url('/site/fonts/cisco/websans/ciscosansheavy-webfont.eot');
    src: url('/site/fonts/cisco/websans/ciscosansheavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('/site/fonts/cisco/websans/ciscosansheavy-webfont.woff') format('woff'),
         url('/site/fonts/cisco/websans/ciscosansheavy-webfont.ttf') format('truetype'),
         url('/site/fonts/cisco/websans/ciscosansheavy-webfont.svg#CiscoSansHeavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CiscoSansLight';
    src: url('/site/fonts/cisco/websans/CiscoSansTTLight.eot'); /* IE9 compat Mode */
    src: url('/site/fonts/cisco/websans/CiscoSansTTLight.eot?#iefix') format('embedded-opentype'), /* Ie6-Ie8 */
         url('/site/fonts/cisco/websans/CiscoSansTTLight.woff') format('woff'), /* Modern Browser */
         url('/site/fonts/cisco/websans/CiscoSansTTLight.ttf') format('truetype'); /* Safari, Android, iOS */          
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CiscoSansExtraLightOblique';
    src: url('/site/fonts/cisco/websans/ciscosansextralightoblique-webfont.eot');
    src: url('/site/fonts/cisco/websans/ciscosansextralightoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/site/fonts/cisco/websans/ciscosansextralightoblique-webfont.woff') format('woff'),
         url('/site/fonts/cisco/websans/ciscosansextralightoblique-webfont.ttf') format('truetype'),
         url('/site/fonts/cisco/websans/ciscosansextralightoblique-webfont.svg#CiscoSansExtraLightOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'CiscoSansBoldOblique';
    src: url('/site/fonts/cisco/websans/ciscosansboldoblique-webfont.eot');
    src: url('/site/fonts/cisco/websans/ciscosansboldoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/site/fonts/cisco/websans/ciscosansboldoblique-webfont.woff') format('woff'),
         url('/site/fonts/cisco/websans/ciscosansboldoblique-webfont.ttf') format('truetype'),
         url('/site/fonts/cisco/websans/ciscosansboldoblique-webfont.svg#CiscoSansBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CiscoSansExtraLight';
    src: url('/site/fonts/cisco/websans/ciscosansextralight-webfont.eot');
    src: url('/site/fonts/cisco/websans/ciscosansextralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/site/fonts/cisco/websans/ciscosansextralight-webfont.woff') format('woff'),
         url('/site/fonts/cisco/websans/ciscosansextralight-webfont.ttf') format('truetype'),
         url('/site/fonts/cisco/websans/ciscosansextralight-webfont.svg#CiscoSansExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CiscoSansThinOblique';
    src: url('/site/fonts/cisco/websans/ciscosansthinoblique-webfont.eot');
    src: url('/site/fonts/cisco/websans/ciscosansthinoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/site/fonts/cisco/websans/ciscosansthinoblique-webfont.woff') format('woff'),
         url('/site/fonts/cisco/websans/ciscosansthinoblique-webfont.ttf') format('truetype'),
         url('/site/fonts/cisco/websans/ciscosansthinoblique-webfont.svg#CiscoSansThinOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CiscoSansThin';
    src: url('/site/fonts/cisco/websans/ciscosansthin-webfont.eot');
    src: url('/site/fonts/cisco/websans/ciscosansthin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/site/fonts/cisco/websans/ciscosansthin-webfont.woff') format('woff'),
         url('/site/fonts/cisco/websans/ciscosansthin-webfont.ttf') format('truetype'),
         url('/site/fonts/cisco/websans/ciscosansthin-webfont.svg#CiscoSansThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CiscoSansHeavyOblique';
    src: url('/site/fonts/cisco/websans/ciscosansheavyoblique-webfont.eot');
    src: url('/site/fonts/cisco/websans/ciscosansheavyoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/site/fonts/cisco/websans/ciscosansheavyoblique-webfont.woff') format('woff'),
         url('/site/fonts/cisco/websans/ciscosansheavyoblique-webfont.ttf') format('truetype'),
         url('/site/fonts/cisco/websans/ciscosansheavyoblique-webfont.svg#CiscoSansHeavyOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CiscoSansRegular';
    src: url('/site/fonts/cisco/websans/ciscosansregular-webfont.eot');
    src: url('/site/fonts/cisco/websans/ciscosansregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/site/fonts/cisco/websans/ciscosansregular-webfont.woff') format('woff'),
         url('/site/fonts/cisco/websans/ciscosansregular-webfont.ttf') format('truetype'),
         url('/site/fonts/cisco/websans/ciscosansregular-webfont.svg#CiscoSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CiscoSansRegularOblique';
    src: url('/site/fonts/cisco/websans/ciscosansregularoblique-webfont.eot');
    src: url('/site/fonts/cisco/websans/ciscosansregularoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/site/fonts/cisco/websans/ciscosansregularoblique-webfont.woff') format('woff'),
         url('/site/fonts/cisco/websans/ciscosansregularoblique-webfont.ttf') format('truetype'),
         url('/site/fonts/cisco/websans/ciscosansregularoblique-webfont.svg#CiscoSansOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}
